html body {
  background-color: #faf2f2;
  margin:0;
  padding: 0;
}

.boxmodel {
  display:block;
  margin: 0 auto;
  width: 95%
}
.js-clock {
  display:block;
  padding-right: 10px;
  font-size: 15px;
  text-align: right;
  font-family: 'Oswald', sans-serif;

}

.title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 70px;
  color: #1e2022;

}

.left {
  width: 33.33333%;
  height: auto;
  background-color: #f1d1d1;
  float: left;
}

.right {
  width: 33.33333%;
  height: auto;
  background-color: #f1d1d1;
  float: right;
}


.middle {
  display: inline-block;
  width: 33.33333%;
  height: auto;
  background-color: #f3e1e1; }


  .topic {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;

  }

  .content {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
  }
